{# Styling #}
{% set css %}{% include "_site/dist/css/components/hero.css" %}{% endset %}

{# Markup #}
<section class="hero component">
  <style>{{ css | cssmin | safe }}</style>
  <header class="hero__content">
    <div class="hero__inner">
      <div class="hero__body">
        <h2 class="hero__title">{{ component.heading }}</h2>
        <p class="hero__tagline">{{ component.tagline }}</p>
      </div>
    </div>
  </header>
  <div class="hero__image"><img src="{% croppedUrlFor component.image, '1290', '500' %}" alt="{{ component.image.alt }}" /></div>
</section>
