// =============================================================================
// HERO
// =============================================================================
@import "../component.scss";

.hero {
  position: relative;
}

// Content.
.hero__content {
  @include center;
  background: rgba($black, 85%);
  color: $white;
  padding: 20px;
  position: absolute;
  width: 90%;
}

// Image.
.hero__image {
  img {
    display: block;
    width: 100%;
  }
}
