<section class="blog-teaser">
  {% for post in postslist | reverse %}
    {% set blogPost = post.data.post %}
    <div class="blog-teaser__row">
      <article class="node">
        <div class="blog-teaser__image">
          <div class="blog-teaser__image-container">
            <a href="{{ post.url | url }}" class="blog-teaser__image-link" tabindex="-1">
              <figure class="image">
                <picture>
                  <!--[if IE 9]><video style="display: none;"><![endif]-->
                  <source srcset="{% croppedUrlFor blogPost.mainImage, 960, 440, 95 %} 1x, {% croppedUrlFor blogPost.mainImage, 1920, 880, 95 %} 2x" media="(min-width: 1020px)" type="image/jpeg">
                  <source srcset="{% croppedUrlFor blogPost.mainImage, 670, 200, 95 %} 1x, {% croppedUrlFor blogPost.mainImage, 1340, 400, 95 %} 2x" type="image/jpeg">
                  <!--[if IE 9]></video><![endif]-->
                  <img src="{% croppedUrlFor blogPost.mainImage, 960, 440, 95 %}" alt="{% if blogPost.mainImage.alt %}{{ blogPost.mainImage.alt }}{% else %}{{ blogPost.title ~ ' cover image' }}{% endif %}" typeof="foaf:Image" loading="lazy">
                </picture>
              </figure>
            </a>
          </div>
        </div>
        <div class="blog-teaser__container">
          <div class="blog-teaser__inner">
            <div class="blog-teaser__content">
              <h2 class="blog-teaser__title"><a href="{{ post.url | url }}">{% if blogPost.title %}{{ blogPost.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a></h2>
              <div class="blog-teaser__meta"><time datetime="{{ blogPost.publishedAt }}">{{ blogPost.publishedAt|readableDate }}</time></div>
              {{ blogPost.excerpt | markdownify | safe }}
            </div>
          </div>
        </div>
      </article>
    </div>
  {% endfor %}
</section>
