---
layout: layouts/base.njk
---

<article>
  <h1>{{ basicpage.title }}</h1>
  {{ basicpage.body | markdownify | safe }}
  {% for component in basicpage.pageBuilder %}
    {% set componentType = component._type %}
    {% if componentType == 'hero' %}
      {%- include "components/hero.njk" -%}
    {% elseif componentType == 'textWithIllustration' %}
      {%- include "components/textWithIllustration.njk" -%}
    {% endif %}
  {% endfor %}
</article>
